html {
  height: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root{
  --primary-colour: "green"
<<<<<<< HEAD
=======
}

.search {
  width:100vw;
  display: grid;
  place-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

.locate {
  align-content: center;
  margin-bottom: 1em;
}

.form {
    text-align: left;
    max-width: 500px;
    padding: 1.5rem;
    margin: auto;
    border-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.Account {
  padding-top: 1em;
}

.PastRequests {
  padding-top: 1em;
}

.card {
  width: 80vw;
  margin-bottom: 1em;
  margin-top: 1em;
}

.PastRequests {
  display: grid;
  place-items: center;
>>>>>>> feature/checkout
}