/* .foot-text {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  color: #DCDCDC;
}

.Account {
  padding-top: 1em;
  height: 100%;
}

.account-button {
  margin-bottom: 1em;
} */


/* body {
  background: #F1F3FA;
} */