@import "./animations.css";

.status {
  padding-top: 1em;
  height: 100%;
}

/* .status-image {
  margin-right: 2rem;
  animation: rotate 3s linear infinite;
} */

.status h1 {
  margin-bottom: 1em;
}