@import "./animations.css";

.status {
  margin: 1em;
  height: 100%;
}

/* .status-image {
  margin-right: 2rem;
  animation: rotate 3s linear infinite;
} */

.status img {
  margin-top: 1em;
}

.status button {
  margin-top: 1em;
}

.status .card {
  margin: auto;
}

.status li {
  text-align: left;
}

.status #home-button {
  text-align: center; 
}